:root {
  box-sizing: border-box;
  font-size: 1.2em;
}

/* h1 {
  color: red;
} */

* + * {
  margin-top: 1.5em;
}

body {
  margin: 2.5em 2em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fd;
}

/* horizontal container flexbox */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 0.5em;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

/* all boxes */
.box {
  background-color: #f3f6fc;
  border-radius: 0.5em;
  padding: 1em;
}

/* left flexbox */
.left-flexbox {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 25%;
  gap: 2%;
}

.code-input {
  border: 1px solid red;
}

.user-info {
  border: solid 1px red;
  text-align: center;
}

.active-chats {
  border: solid 1px red;
}

.center-flexbox {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 50%;
  margin-top: 0;
}

.chat-window {
  border: solid 1px red;
}

.chat-input {
  border: solid 1px red;
}

.message {
  background-color: beige;
}

.right-flexbox {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 25%;
  margin-top: 0;
}
