:root {
  box-sizing: border-box;
  font-size: 1.2em;
}

/* h1 {
  color: red;
} */

* + * {
  margin-top: 1.5em;
}

body {
  margin: 2.5em 2em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fd;
}

/* horizontal container flexbox */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.85em;
  max-width: 1080px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1.6em;
  border-radius: 0.5em;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

/* all boxes */
.box {
  background-color: #f3f6fc;
  border-radius: 0.5em;
  padding: 1em;
}

/* left flexbox */
.left-flexbox {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.code-input {
}

.user-info {
  text-align: center;
}

.active-chats {
}

.center-flexbox {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 0;
}

.chat-window {
  /* border: solid 1px red; */
}

.chat-input {
  margin-top: auto;
  background-color: white;
  border-radius: 0.5em;
  padding: 1em;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-input {
  flex: 1;
  height: 2em;
}

.message-submit-button {
  margin-top: 0;
  margin-left: 1em;
  background-color: #034dfc;
  padding: 0.65em 1.2em;
  color: white;
  border-radius: 0.5em;
  border: 1px solid #034dfc;
}

.message-submit-button:hover {
  background-color: white;
  color: #034dfc;
}

.message {
  background-color: #c3cee6;
  border-radius: 0.5em;
  padding: 1em;
}

.right-flexbox {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 0;
}

.logo-image {
  flex: 2;
}

.contact-info {
  text-align: center;
}
