<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/signup.css" />
  </head>
  <body>
      <div class="main-flexbox">
        <div class="left-flexbox">
          <div class="image-container">
            <img class="image1" src="./images/1.jpg" alt="">
            <img class="image2" src="./images/2.jpg" alt="">
            <img class="image3" src="./images/3.jpg" alt="">
            <img class="image4" src="./images/4.jpg" alt="">
            <img class="image5" src="./images/5.jpg" alt="">
            <img class="image6" src="./images/6.jpg" alt="">
            <img class="image7" src="./images/7.jpg" alt="">
            <img class="image8" src="./images/8.jpg" alt="">
            <img class="image9" src="./images/9.jpg" alt="">
          </div>
        </div>
        <div class="right-flexbox">
          <div class="greeting">Welcome to chat-worm!</div>
        <form action="/register" method="POST">
            <div>Create Account</div>
            <input type="text"
            id="username"
            name="username" placeholder="Username" required />
            <input type="email" id="email" name="email" placeholder="Email" required/>
            <input type="password"
            id="password"
            name="password" placeholder="Password" required/>
            <input class = "hidden" type="hidden" name="pic" value="">
            <div class="select-character-flex">
              <div class="select-character">Select character</div>
              <div class="small-character-image"></div>
            </div>
            <button class = "sign-in-button" type="submit" >Sign up</button>
          </form>
        </div>
    <script src="./js/signup.js"></script>
  </body>
</html>
