<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/signup.css">
  </head>
  <body>
      <div class="main-flexbox">
        <div class="left-flexbox">
          <div class="image-container">
            <img class="image1" src="./images/1.jpg" alt="">
            <img class="image2" src="./images/2.jpg" alt="">
            <img class="image3" src="./images/3.jpg" alt="">
            <img class="image4" src="./images/4.jpg" alt="">
            <img class="image5" src="./images/5.jpg" alt="">
            <img class="image6" src="./images/6.jpg" alt="">
            <img class="image7" src="./images/7.jpg" alt="">
            <img class="image8" src="./images/8.jpg" alt="">
            <img class="image9" src="./images/9.jpg" alt="">
          </div>
        </div>
        <div class="right-flexbox">
          <div class="greeting">Welcome to chat-worm!</div>
          <form action="http://localhost:3000/login" method="post">
            <div>Create Account</div>
            <input type="text" name="username" placeholder="Username" required />
            <input type="email" name="email" placeholder="Email" required/>
            <input type="password" name="password" placeholder="Password" required/>
            <button class = "sign-in-button" type="submit">Sign up</button>
          </form>
        </div>

    <script src="./js/signup.js"></script>
  </body>
</html>